@media all and (max-width: 1366px){
       .comentario1, .comentario2, .comentario3{
              width: 26.5vw;
              height: 240px;
              padding: 20px 25px 35px 25px;
       }

       .cont-info-foto{
              padding-bottom: 10px;
       }

       .comentario1 > p, .comentario2 >p, .comentario3 > p{
              line-height: 20px;   /* le decimos la separacion que va a tener una linea de texto con la siguiente*/
       }
       
       .rating2{
              width: 30em;
       }

       .rating2 .estrellas{
              margin: 0 10px 0 10px;
       }
}

@media all and (max-width: 375px){
       main{
              display: inline-flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
       }
       
       .primera-section{
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              justify-content: center;
              text-align: center;
       }

       .caja-texto > h1{
              font-size: 2.2rem;
              line-height: 40px;
              
       }

       .caja-texto > p {
              padding-top: 20px;
              margin-bottom: 30px;
              font-size: 0.8rem;
       }

       .caja-padre-rating{
              display: block;
       }

       .rating1, .rating2, .rating3{
              flex-direction: column;
              width: auto;
              justify-content: center;
              gap: 15px;
              padding: 15px 20px;
       }

       .rating2{
              margin: 20px 0;
       }

       .segunda-section{
              height: auto;
       }

       .caja-comentarios-padre{
              display: flex;
              flex-direction: column;
              align-items: center;
              width: auto;
              gap: 20px;
       }

       .comentario1, .comentario2, .comentario3{
              width: 19em;
              height: auto;
       }

       .comentario3{
              align-self: unset;
       }

       .comentario1 > p, .comentario2 >p, .comentario3 > p{
              line-height: 25px;
              padding-top: 20px;
       }
};