*{
       padding: 0;
       margin: 0;
       box-sizing: border-box;
}

body{
       font-size: 16px;
       font-family: 'Spartan', sans-serif;
}

main{
       padding: 100px;
}

.fotoTop{
       position: absolute;
       top: 0;
       left: 0;
}

.fotoBottom{
       position: absolute;
       bottom: 0;
       right: 0;
}

/* ------------------------------------------Editamos la primera-section------------------------------------------ */
.primera-section{
       display: grid;
       grid-template-areas: 
       "s1 s2";
       grid-template-columns: repeat(2,1fr);
       grid-template-rows: 1fr;
}

.caja-texto{
       display: flex;
       flex-direction: column;
       grid-area: s1;
}

.caja-texto > h1{
       font-size: 2.8rem;
       font-weight: 700;
       color: hsl(300, 43%, 22%);
       line-height: 48px;
}

.caja-texto > p{
       padding-top: 15px;
       font-weight: 400;
       line-height: 25px;
}

.caja-padre-rating{
       grid-area: s2;
       display: flex;
       flex-direction: column;
}

.rating1, .rating2, .rating3{
       display: flex;
       padding: 20px;
       background-color: hsl(300, 24%, 96%);
       border-radius: 8px;
       width: 31vw;
       text-align: center;
       align-items: center;
}

.rating2{
       align-self: center;
       margin: 15px 0;
}

.rating3{
       align-self: flex-end;
}

.estrellas{
       margin: 0 25px  0 10px;
       display: flex;
}

.estrellas > img{
       padding: 0 5px;
}


/* ------------------------------------------Editamos la segunda-section------------------------------------------ */
.segunda-section{
       margin-top: 60px;
       height: 45vh;
}

.caja-comentarios-padre{
       /* padding: 20px; */
       display: grid;
       grid-template-areas: 
       "s1 s2 s3";
       grid-template-columns: repeat(3,1fr);
       grid-template-rows: 1fr;
       height: 100%;
}

.comentario1, .comentario2, .comentario3{
       display: flex;
       flex-direction: column;
       background-color: hsl(300, 43%, 22%);
       border-radius: 8px;
       padding: 30px;
       width: 26em;
       height: 19em;
}

.comentario1{
       grid-area: s1;
}

.comentario2{
       grid-area: s2;
       margin: 0 30px;
       align-self: center;
}

.comentario3{
       grid-area: s3;
       align-self: flex-end;
}

.cont-info-foto{
       display: flex;
       padding-bottom: 30px;
}

.cont-info-foto > img{
       border-radius: 50%;
}

.cont-info{
       padding-top: 5px;
       padding-left: 30px;
}

.cont-info > h2{
       color: hsl(0, 0%, 100%);
       padding-bottom: 10px;
       font-weight: 500;
       font-size: 1.2rem;
}

.cont-info > h3{
       color: hsl(333, 80%, 67%);
       font-weight: 400;
       font-size: 1rem;
}

.comentario1 > p, .comentario2 >p, .comentario3 > p{
       color: hsl(0, 0%, 100%);
       font-weight: 400;
       line-height: 25px;   /* le decimos la separacion que va a tener una linea de texto con la siguiente*/
}




/* ------------------------------------------Propaganda------------------------------------------ */
.attribution {
       margin-top: 50px;
       font-size: 11px;
       text-align: center;
}

.attribution a {
       color: hsl(228, 45%, 44%);
}